<!-- 

    MSIN 617 Web and Application Development
    Spring 2022 Final Project
    Developed By Nury Amanmadov  
    
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Touro University GST MSIN 616 Final Project, Virtual Touro Tech Academy">
    <meta name="keywords" content="html, css, touro university, msin 616, web and app development">
    <meta name="author" content="Nury Amanmadov">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Touro Tech Academy - Bootcamps</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon"  href="images/favicon.ico">
</head>
<body>

    <!-- Header section -->
    <div class="header">
        <nav>
            <a href="https://gst.touro.edu/index.php"><img src="images/logo1.png" alt="logo"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="courses.html">Courses</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>

        <div class="text-box">
            <h1>Touro Tech Academy</h1>
            <p>Enroll in Touro Tech Academy today and can get the in-demand skills you need to help land a high-paying tech job.<br>Learn at your own pace, when and where its convenient for you.</p>
            <a href="" class="hero-btn">Visit us to know more...</a>
        </div>

    </div>
    <!-- End of Header section -->

    <main></main>

    <!-- Footer section -->
    <section class="footer">
        <h4>About Us</h4>
        <p>
            320 West 31st Street (at 8th Avenue) New York, NY 10001 USA
        <br>
            Touro University Graduate School of Technology 
            <br>Copyright © 2022. All rights reserved.
        </p>
        <div class="icons">
            <i class="fa fa-facebook" onclick="window.open('https://www.facebook.com/tourogst')" style="cursor:pointer;"></i>
            <i class="fa fa-twitter" onclick="window.open('https://twitter.com/tourogst')" style="cursor:pointer;"></i>
            <i class="fa fa-linkedin" onclick="window.open('https://www.linkedin.com/school/tourogst')" style="cursor:pointer;"></i>
            <i class="fa fa-instagram" onclick="window.open('https://www.instagram.com/tourogst')" style="cursor:pointer;"></i>
        </div>
    </section>
    <!-- End of Footer section -->

<!-- javascript for toggle menu -->
<script>
    const navLinks = document.getElementById("navLinks");

    function showMenu(){
        navLinks.style.right = "0";
    }

    function hideMenu(){
        navLinks.style.right = "-200px";
    }
</script>
</body>
</html>